@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
--White:hsl(0, 0%, 100%);
--Light-gray:hsl(212, 45%, 89%);
--Grayish-blue:hsl(220, 15%, 55%);
--Dark-blue:hsl(218, 44%, 22%);
}

.attribution 
{ 
  font-size: 23px; 
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.attribution a 
{ 
  color: hsl(228, 45%, 44%); 
  text-decoration: none;

}

*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
  background-color:var(--Light-gray);
  font-family: 'Outfit', sans-serif;
  display:flex;
  justify-content: center;
  max-width:100%px;  
  height:120vh;
  align-items: center;
  flex-direction: column;
}
#main{
  /* margin-top:50px; */
  width:500px;
  background-color: var(--White);
  border-radius:20px;
  padding:25px;
  margin-bottom:25px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}
img{
  max-width:100%;
}
#main img{
  border-radius: 10px;
  margin-bottom:20px;
}

h1{
  text-align: center;
  color:var(--Dark-blue);
  padding-bottom:20px;
}
p{
  font-size:25px;
  text-align: center;
  color: var(--Grayish-blue);
  padding-bottom: 10px;
}

@media (max-width:600px) {
  #main{
    margin-top: 2rem;
    width:300px;
    height:100vh;
  }
}



